body {
    font-family: "Times New Roman", Georgia, Serif;
}
h1, h2, h3, h4, h5, h6 {
  font-family: "Playfair Display";
  letter-spacing: 5px;
}
.navbar-brand{
    line-height:22.5px;
    vertical-align:middle;
    letter-spacing:4px;
    padding:8px 16px;
    font-size: 16px;
    color: #333;
}
.nav-link{
    color: #333;
    font-size: 16px;
    position: relative;
}
.nav-link::before{
    content: '';
    position: absolute;
    bottom: 0;
    right: 0;
    width: 0;
    height: 2px;
    background-color: black;
    transition: width 0.6s cubic-bezier(0.25, 1, 0.5, 1);
}
@media (hover: hover) {
    .nav-link:hover::before{
      left: 0;
      right: auto;
      width: 100%;
    }
}
.img-container{
    position: relative;
    color: #333;
}
.design {
    position: absolute;
    bottom: 8px;
    left: 16px;
    padding-left: 16px;
}
.myimg{
    border-radius: 6px;
}
input[type=text],[type=number],[type=datetime-local]{
    width: 100%;
    padding: 12px 16px;
    margin: 8px 0;
    display: inline-block;
    border: none;
    border-bottom: 2px solid #f1f1f1;
}
.btn{
    background-color: #f1f1f1;
    padding: 10px 12px;
    margin: 18px 10px;
}
footer{
    background-color: #f1f1f1;
    padding: 50px;
    text-align: center;
    margin-top: 80px;
}
@media screen and (max-width: 600px) {
    input[type=text],[type=number],[type=datetime-local] {
      width: 100%;
      margin-top: 0;
    }
  }